<h1>Simple Blog</h1>     
<div class="row"> 
  <div class="span4 offset8">
    <span class="pull-right">
      <%= link_to 'New Article', new_article_path, class: 'btn' %>
    </span>
  </div>
</div>

<div id="account">
    <% if current_user %>
      <span>Welcome, <%= current_user.name %></span>
      <%= link_to "logout", logout_path, :id => "login" %>
    <% else %>
      <%= link_to "login", login_path, :id => "logout" %>
    <% end %>
  </div>
<hr>